/*Limpar formatações padrão*/
* {
  margin: 0;
  padding: 0;
}

:root{
  --cor-base: #ec9634;
}

body {
  font-size: 1em;
  font-family: "Trebuchet MS", "Helvetica", Arial, sans-serif;
  background: #e6e6e6;
}

#area-cabecalho {
  background-color: var(--cor-base);
  padding: 15px;
  text-align: center;
}

#area-logo,
#area-menu {
  display: flex;
  justify-content: center;
  align-items: center;

}

#area-menu a{
  font-size: 18px;
  font-weight: 600;
}

#menu-toggle {
    display: none; 
    font-size: 1.8em;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px;
    
}

#area-principal {
  width: 1080px;
  margin: 0 auto;
}

#area-postagens {
  width: 75%;
  float: left;
  margin: 20px 0px;
}

#area-lateral {
  width: 240px;
  float: right;
  margin: 20px 0px;
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.9s ease-out, opacity 0.9s;
}

#area-lateral.show {
  transform: translateX(0);
  opacity: 1;
}

.postagem {
  padding: 20px;
  margin-bottom: 20px;
  background: white;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.9s ease-out, transform 0.9s ease-out;
}

.postagem.visivel {
  opacity: 1;
  transform: translateY(0);
}

.postagem p{
  padding: 10px 0;
}

.postagem img{
  width: 100%;
}

.conteudo-lateral {
  background: white;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.conteudo-lateral a{
  padding: 5px 0;
}

.postagem-lateral {
  font-size: 0.8em;
  padding: 8px;
  border-bottom: 1px dotted #ccc;
}

.postagem-lateral a{
    padding: 5px 0;
    display: flex;
}

#rodape {
  width: 100%;
  background-color: var(--cor-base);
  color: white;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 15px;
  font-weight: 600;
}

.data-postagem {
  font-size: 0.8em;
  padding: 8px 0;
  display: block;
}

.branco {
  color: white;
}

h1 {
  color: #4e4e4e;
  font-size: 2.5em;
}

h2 {
  color: var(--cor-base);
}

h3 {
  background-color: #cacaca;
  color: #4e4e4e;
  padding: 5px;
}

/*Formatação dos links*/
a {
  text-decoration: none;
}

a:link,
a:visited {
  color: var(--cor-base);
}

a:hover {
  color: #4e4e4e;
}

#area-cabecalho a:link,
#area-cabecalho a:visited {
  color: white;
  padding: 8px 12px;
}

#area-cabecalho a:hover {
  color: var(--cor-base);
  background: white;
}

#area-cabecalho a:active {
  color: #4e4e4e;
}

@media screen and (max-width: 768px) {

  #menu-toggle {
    display: block;
  }

  #area-principal {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }

  #area-cabecalho{
    display: flex;
    padding: 25px 0;
    width: 100vw;
    overflow: hidden;
    align-items: center;
    justify-content: center;
  }

  #area-menu{
    display: none;
    flex-direction: column;
    background-color: var(--cor-base);
    position: absolute;
    top: 80px; 
    left: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
  }

  #area-menu a {
    display: block;
    padding: 10px;
  }

  #area-menu.show {
    display: flex;
    z-index: 10;
    transform: translateY(0);
    width: 100%;
  }

  #area-logo{
    position: absolute;

  }

  button#menu-toggle {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-right: -75%;
  }

  #area-postagens {
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center; 
  }

  .postagem{
    width: 90%; 
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transform: translateY(220px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  }

  .postagem.visivel {
    opacity: 1;
    transform: translateY(0);
  }

  .conteudo-lateral{
    display: none;
  }

  #rodape{
    width: 100vw;
    overflow: hidden;
    display: flex;

  }

}
